In [1]:
# Connessione a Postgres
# myconf = os.path.join(os.environ['HOME'],'notebooks','config_job_to_db.json')
# with open(myconf,'r') as f:
#     cnf =  json.load(f)
# conndict = cnf['db']

# qc = dbconn(**conndict)

# date inizio e fine
htm=> select  to_timestamp(min(ts)) mint ,to_timestamp(max(ts)) maxt from hj;

          mint          |          maxt          
------------------------+------------------------
 2021-08-16 17:36:01+02 | 2022-01-30 20:03:10+01
 
# num righe per giorno (~ 1.2e6/day)
htm=> select count(*) n, date(to_timestamp(ts)) rday from hj where ts > to_unixtime('2021-12-25') group by rday order by rday;
    n     |    rday    
----------+------------
 12137036 | 2021-12-25
 12247442 | 2021-12-26
 12100863 | 2021-12-27
 12198140 | 2021-12-28
[...]

# job di Sett. 2021.
htm=> select queue,n,fail, (fail*100.0 / n)::numeric(15,3) perc from (select queue,count(*) n, SUM((jobstatus != 4 OR exitstatus != 0)::int) fail from htjob where runtime > 3600 and eventtimeepoch between to_unixtime('2021-09-01') AND to_unixtime('2021-10-01') AND numprocessors = 1 group by queue order by fail) a;
  queue   |   n    |  fail  |  perc   
----------+--------+--------+---------
 cuore    |   2013 |      6 |   0.298
 na62     |   9351 |      6 |   0.064
 km3      |   2874 |     27 |   0.939
 muoncoll |     95 |     37 |  38.947
 clas12vo |   6433 |     55 |   0.855
 neutrino |     84 |     56 |  66.667
 lhcf     |     62 |     62 | 100.000
 alice    | 124608 |     77 |   0.062
 belle    |  82686 |    274 |   0.331
 lhcb     | 319563 |    796 |   0.249
 herd     |   2957 |   2115 |  71.525
 limadou  |   4161 |   3434 |  82.528
 juno     |   5378 |   3553 |  66.065
 cta      |   6639 |   5328 |  80.253
 darkside |  10048 |   7512 |  74.761
 borexino |   8544 |   7760 |  90.824
 tristan  |   9102 |   9102 | 100.000
 atlas    | 198553 |  14394 |   7.249
 auger    |  33321 |  15603 |  46.826
 dampe    |  38020 |  37984 |  99.905
 ams      | 120246 | 120246 | 100.000
(21 rows)

htm=> create table dropme as (WITH A AS (
SELECT
  queue,
  runtime/3600.0 wct,
  ((utime+stime+.0)/numprocessors)/3600 cpt_h,
  ((utime+stime+.0)/numprocessors)/runtime jeff,
  maxrmem/numprocessors/1e6 ram
FROM htjob WHERE
  runtime > 300 AND utime > 0 AND
  eventtimeepoch BETWEEN to_unixtime('2021-09-01') AND
                         to_unixtime('2021-09-02')
), B AS (
SELECT
  count(*) n,
  queue
FROM A 
GROUP BY queue
),
C AS (
SELECT row_number() OVER (ORDER BY n DESC) clust,queue FROM B)
SELECT C.clust, A.* FROM A,C WHERE
  A.queue = C.queue);

htm=> select clust, count(*) n, queue from dropme group by clust,queue order by n desc;
 clust |   n   |  queue   
-------+-------+----------
     1 | 12143 | atlas
     2 |  9540 | lhcb
     3 |  5986 | borexino
     4 |  4575 | ams
     5 |  3545 | belle
     6 |  3252 | alice
     7 |  1479 | juno
     8 |  1085 | cta
     9 |   935 | dampe
    10 |   435 | cms
    11 |   366 | clas12vo
    12 |   229 | auger
    13 |    93 | virgo
    14 |    68 | eic
    15 |    64 | limadou
    16 |    56 | lhcf
    17 |    32 | km3
    18 |    27 | herd
    19 |    10 | muoncoll
    20 |     9 | darkside
    21 |     6 | na62
    22 |     2 | xenon
(22 rows)

numprocessors = 1 and runtime > 3600 * 8 limit 1 ;
  jobid  | idx | runtime 
---------+-----+---------
 1156596 |   0 |   38594

htm=> \d hj
                                   Table "public.hj"
 Column |         Type          | Collation | Nullable |            Default             
--------+-----------------------+-----------+----------+--------------------------------
 id     | bigint                |           | not null | nextval('hj_id_seq'::regclass)
 ts     | integer               |           |          | 
 jobid  | bigint                |           |          | 
 idx    | integer               |           |          | 
 queue  | character varying(32) |           |          | 
 hn     | character varying(32) |           |          | 
 js     | integer               |           |          | 
 nc     | integer               |           |          | 
 hsj    | double precision      |           |          | 
 hsm    | double precision      |           |          | 
 cpt    | bigint                |           |          | 
 rt     | bigint                |           |          | 
 owner  | character varying(60) |           | not null | 
 rss    | double precision      |           |          | 0.0
 swp    | double precision      |           |          | 0.0
 sn     | character varying(40) |           |          | 
 disk   | double precision      |           |          | 

WITH A AS (
     SELECT jobid||'.'||idx job,
            starttimeepoch st, eventtimeepoch et,
            runtime wct, utime+stime cpt 
    FROM htjob 
    WHERE
        eventtimeepoch > 1630447200 AND
        eventtimeepoch < 1630447200 + 3600 AND
        starttimeepoch > 1630447200 - 3600 * 8 AND
        runtime > 3600 * 4 AND numprocessors = 1 AND
        queue = 'atlas'
    ORDER BY queue, eventtimeepoch;

considero job: 4543871.0

SELECT queue,hn,jobid||'.'||idx job,rt,cpt,rss,disk,swp FROM hj WHERE
       jobid = 4566284 AND idx = 0 AND
       ts >= 1630419086 AND
       ts <= 1630447355 AND
       queue = 'atlas'
       ORDER BY rt;

     id     |    job    |  rt   |  cpt  |   rss    |   disk   |    swp    
------------+-----------+-------+-------+----------+----------+-----------
 1790056756 | 4566284.0 |    37 |     0 |        0 |  2.2e-05 |   2.2e-05
 1790081202 | 4566284.0 |   217 |     0 |        0 |  2.2e-05 |   2.2e-05
 1790105614 | 4566284.0 |   396 |     0 |        0 |  2.2e-05 |   2.2e-05
 1790130014 | 4566284.0 |   577 |     0 |        0 |  2.2e-05 |   2.2e-05
 1790154392 | 4566284.0 |   757 |   245 | 0.991424 |  2.41594 | 35.643936
 1790178781 | 4566284.0 |   937 |   535 | 1.023164 | 2.416071 | 35.643936
 1790203176 | 4566284.0 |  1117 |   535 | 1.023164 | 2.416071 | 35.643936
 1790227563 | 4566284.0 |  1297 |   535 | 1.023164 | 2.416071 | 35.643936
 1790251929 | 4566284.0 |  1477 |   535 | 1.023164 | 2.416071 | 35.643936
...

Provare con le window functions...